<footer style="margin-top: 50px; text-align: center; color: #636e72; font-size: 0.8rem;">
  <hr style="border: 0; border-top: 1px solid #dfe6e9; margin-bottom: 20px;" />
  &copy; 2026 - FlashCards App
</footer>
