<header>
  <h1>
    <a href="/" style="text-decoration: none; color: inherit;">FlashCards</a>
  </h1>
  <div>
    <span>Utilisateur : <strong>Étudiant</strong></span>
    <button class="btn btn-outline" style="margin-left:10px">Déco</button>
  </div>
</header>
