<header>
  <div class="container-header">
    <img src="" alt="logo" />
    <div class="user">
      <p>
        {{ username }}
      </p>
      <button type="submit" class="logout">
        Se déconnécté
      </button>
    </div>
  </div>
</header>
