@component('components/layout', {title: 'Accueil'})
  <h1>
    Mes Deck
  </h1>
  <table>
    <thead>
      <tr>
        <th>
          Titre
        </th>
        <th>
          Description
        </th>
        <th>
          Cartes
        </th>
      </tr>
    </thead>
  </table>
  <button type="submit" class="Add">Ajouté</button>
@end
